<div id="bookmarklet" class="style modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h3>get the bookmarklet</h3>
  </div>
  <div class="modal-body">
      <p>When you discover a beautiful product just click the bookmarket to automatically add it to <i>mmmine</i></p>
      <div class="book-drag">
          <img src="/assets/icons/mmmine_icon_b.png" alt=""/>
          <span class="arr_l"></span>
          <p>Drag to your browser’s Bookmarks bar</p>
      </div>
  </div>
</div>