<ul>
    <li><a href="#">Trending</a></li>
    <li class="drop"><a href="#"><span>More</span></a>
        <ul class="hide">
            <li><a href="">About <i>mmmine</i></a></li>
            <li><a href="">Need Help&</a></li>
            <li><a href="">Partner</a></li>
        </ul>
    </li>
    <li>
      <a href="#login" class="popup b login">Log in</a>
    </li>
</ul>