<div id="make_mmmine" class="style">
  <form>
    <h3>make it mmmine!</h3>
    <select>
      <option>Things i want</option>
      <option>Lorem</option>
      <option>Ipsum</option>
      <option>Dolor</option>
      <option>Sit</option>
      <option>Amet</option>
    </select>
    <textarea placeholder="Add your comment, #hashtag, @mention"></textarea>      
  </form>
</div>