<li class="drop more-menu">
  <a href="/more">
    <div class="nav-menu"></div>
  </a>
  <a href="/more">More</a>
    <ul class="hide nav-menu">
        <li><a href="/more#about">About <i>mmmine</i></a></li>
        <li><a href="/more#needhelp">Need Help?</a></li>
        <li><a href="/more#partner">Partner</a></li>
    </ul>
</li>