<div id="report" class="style modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h3>report product</h3>
  </div>
  <div class="modal-body">
    <p>Why are you reporting this product?</p>
    <form>
        <label for="r1"><input id="r1" value="r1" type="radio" name="report"/>Not a product</label>
        <label for="r2"><input id="r2" value="r2" type="radio" name="report"/>Incorrect price</label>
        <label for="r3"><input id="r3" value="r3" type="radio" name="report"/>Bad image</label>
        <label for="r4"><input id="r4" value="r4" type="radio" name="report"/>Spam</label>
        <label for="r5"><input id="r5" value="r5" type="radio" name="report"/>Other</label>
        <button class="btn" type="submit">Report</button>
    </form>
  </div>
</div>