<section class="right">
  <div class="elem">
    <h4>related tags</h4>
    <div class="tags">
      <a href="#">girl</a>
      <a href="#">cute</a>
      <a href="#">fashion</a>
      <a href="#">photography</a>
      <a href="#">love</a>
      <a href="#">beautiful</a>
      <a href="#">pretty</a>
      <a href="#">hair</a>
      <a href="#">style</a>
      <a href="#">sexy</a>
      <a href="#">vintage</a>
      <a href="#">dress</a>
    </div>
  </div>
  <div class="elem">
    <h4>discover</h4>
    <menu>
      <a href="#">Just Posted</a>
      <a href="#">Most Popular</a>
      <a href="#">Top Stores</a>
    </menu>
  </div>
</section>