<section class="strapline green_bg t-center">
    <h2>Buy, sell and show off clothing and accessories.</h2>
    <a href="<%= user_omniauth_authorize_path(:facebook) %>">
        <span class="l fb_m"></span>
        <span class="fb_login btn">Sign up with Facebook</span>
    </a>
    <span class="or">or</span>
    <form action="">
        <input type="text" id="email_to_register" placeholder="E-mail"/>
        <button class="btn yellow" id="register_with_email">Sign up with email</button>
    </form>
</section>