<nav>
        <ul>
            <li><%=link_to 'Live Feed', live_feed_path%></li>
            <li><a href="#">Things I want</a></li>
            <li><a href="#post" data-toggle="modal" role="button" class="b post">Sell an item</a></li>
            <%=render 'shared/more'%>
        </ul>

    </nav>