<nav>
        <ul>
            <li><a href="#">Popular</a></li>
            <li><a href="#">My Feed</a></li>
            <li><a href="#">Post</a></li>
            <li class="drop"><a href="#"><span>More</span></a>
                <ul class="hide">
                    <li><a href="">About <i>mmmine</i></a></li>
                    <li><a href="">Need Help&</a></li>
                    <li><a href="">Partner</a></li>
                </ul>
            </li>
        </ul>

    </nav>