<section class="content more">
      <div id="about" class="green_bg">
          <div class="column">
              <h2>about</h2>
              <p>mmmine allows people and shops to buy, sell and show off clothing and accessories. mmmine connects you with friends and fashionistas whose style you love. You can buy beautiful clothing in a just a couple of clicks.</p>

              <p>If your wardrobe is bursting at the hinges you can list quality clothing on mmmine and make money to buy new stuff. Connecting with people whose style matches yours means you can easily find people interested in buying your pre-loved gear.</p>

              <p>mmmine was created by Alline, Sergey and Julian.</p>
          </div>
      </div>
      <div id="needhelp" class="orange_bg">
          <div class="column">
              <h2>need help</h2>
              <p>mmmine is still in beta so we're working hard to squash bugs and fine tune features. We'd love to hear your thoughts so if you have any questions or comments contact us at <%= mail_to "hello@mmmine.com"%></p>
          </div>
      </div>
      <div id="partner" class="yellow_bg">
          <div class="column">
              <h2>follow us</h2>
              <div class="follow">
                  <p class="border-b">Follow us on</p>
                  <button class="s_button fb" id="fb_more">Facebook</button>
                  <button class="s_button tw" id="tw_more">Twitter</button>
                  <button class="s_button pt" id="pt_more">Pinterest</button>
              </div>
          </div>
      </div>
  </section>
  