<section class="content more">
      <div id="about" class="green_bg">
          <div class="column">
              <h2>about</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda consequuntur dicta distinctio eius eligendi et illo illum molestias neque omnis possimus, quia recusandae repellendus tempora vel veniam voluptate voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda consequuntur dicta distinctio eius eligendi et illo illum molestias neque omnis possimus, quia recusandae repellendus tempora vel veniam voluptate voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda consequuntur dicta distinctio eius eligendi et illo illum molestias neque omnis possimus, quia recusandae repellendus tempora vel veniam voluptate voluptatibus!</p>
          </div>
          <div class="follow">
              <p class="border-b">Follow us on</p>
              <button class="s_button fb">Facebook</button>
              <button class="s_button tw">Twitter</button>
              <button class="s_button pt">Pinterest</button>
          </div>
      </div>
      <div id="needhelp" class="orange_bg">
          <div class="column">
              <h2>need help</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda consequuntur dicta distinctio eius eligendi et illo illum molestias neque omnis possimus, quia recusandae repellendus tempora vel veniam voluptate voluptatibus!</p>
          </div>
      </div>
      <div id="partner" class="yellow_bg">
          <div class="column">
              <h2>partner</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda consequuntur dicta distinctio eius eligendi et illo illum molestias neque omnis possimus, quia recusandae repellendus tempora vel veniam voluptate voluptatibus!</p>
          </div>
      </div>
  </section>
  