<div id="password" class="style modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>change your password</h3>
    </div>
    <div class="modal-body">
      <%= form_tag(change_password_path, remote: true, id: 'change_password_form') do |f|%>
        <input type="password" name="old_password" id="old_password" placeholder="Old Password"/>
        <input type="password" name="new_password" id="new_password" placeholder="New Password"/>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Repeat New Password"/>
        <button class="btn" type="submit">Change Password</button>
      <%end%>
    </div>
</div>