<div id="buy_confirm<%=@product.id%>" class="style modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>buy this item</h3>
    </div>
    <div class="modal-body">
      A lot of text goes here...
      <%= form_tag(root_path, remote: true) do |f|%>
        <button class="btn" type="submit">Confirm Purchase</button>
      <%end%>
    </div>
</div>