<div id="post" class="style modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h3>sell an item</h3>
  </div>
  <div class="modal-body">
    <%= form_for(Product.new, url: product_create_path, remote: true, html: {multipart: true}) do |f| %>
      <%3.times do |i| %>
        <%= file_field_tag "product_pictures[#{i}]", placeholder: 'You can upload up to 3 photos' %>
      <%end%>
      <%=render partial: '/products/form', locals:{f: f, sub_categories_select: []}%>
      <%=image_tag 'small_loading.gif', :id => 'new_product_loading'%>
      <button class="btn big" type="submit">Post</button>
    <%end%>
  </div>
</div>